{
  "name": "Stylix",
  "creator": {
    "name": "Stylix",
    "email": ""
  },
  "coreColors": {
    "primaryColor": "#{{base0E-hex}}",
    "secondaryColor": "#{{base0F-hex}}",
    "accentColor": "#{{base0D-hex}}"
  },
  "darkColors": {
    "windowButtonIcon": "#{{base02-hex}}",
    "hoveredItemBackground": "rgba({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}, 0.05)",
    "selectedItemBackground": "rgba({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}, 0.1)",
    "tabText": "#{{base04-hex}}",
    "selectedTabText": "#{{base07-hex}}",
    "mainBackground": "#{{base00-hex}}",
    "headerBackground": "#{{base02-hex}}",
    "footerBackground": "#{{base02-hex}}",
    "sidePaneBackground": "#{{base01-hex}}",
    "primaryText": "#{{base07-hex}}",
    "secondaryText": "#{{base05-hex}}",
    "sliderBackground": "#{{base01-hex}}",
    "sliderThumbBackground": "#{{base07-hex}}",
    "albumCoverLogo": "#{{base05-hex}}",
    "albumCoverBackground": "#{{base00-hex}}",
    "headerSeparator": "transparent",
    "paneSeparators": "transparent",
    "settingsSeparators": "#{{base03-hex}}",
    "contextMenuSeparators": "#{{base03-hex}}",
    "scrollBars": "#{{base09-hex}}",
    "searchBox": "#{{base03-hex}}",
    "searchBoxText": "#{{base07-hex}}",
    "searchBoxIcon": "#{{base05-hex}}",
    "dialogBackground": "#{{base00-hex}}",
    "primaryButtonText": "#{{base07-hex}}",
    "secondaryButtonBackground": "#{{base03-hex}}",
    "secondaryButtonText": "#{{base07-hex}}",
    "tooltipText": "#{{base07-hex}}",
    "buttonBorder": "#{{base03-hex}}",
    "highlightForeground": "#{{base07-hex}}"
  },
  "lightColors": {
    "windowButtonIcon": "#{{base02-hex}}",
    "hoveredItemBackground": "rgba({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}, 0.05)",
    "selectedItemBackground": "rgba({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}, 0.1)",
    "tabText": "#{{base04-hex}}",
    "selectedTabText": "#{{base07-hex}}",
    "mainBackground": "#{{base00-hex}}",
    "headerBackground": "#{{base02-hex}}",
    "footerBackground": "#{{base02-hex}}",
    "sidePaneBackground": "#{{base01-hex}}",
    "primaryText": "#{{base07-hex}}",
    "secondaryText": "#{{base05-hex}}",
    "sliderBackground": "#{{base01-hex}}",
    "sliderThumbBackground": "#{{base07-hex}}",
    "albumCoverLogo": "#{{base05-hex}}",
    "albumCoverBackground": "#{{base00-hex}}",
    "headerSeparator": "transparent",
    "paneSeparators": "transparent",
    "settingsSeparators": "#{{base03-hex}}",
    "contextMenuSeparators": "#{{base03-hex}}",
    "scrollBars": "#{{base09-hex}}",
    "searchBox": "#{{base03-hex}}",
    "searchBoxText": "#{{base07-hex}}",
    "searchBoxIcon": "#{{base05-hex}}",
    "dialogBackground": "#{{base00-hex}}",
    "primaryButtonText": "#{{base07-hex}}",
    "secondaryButtonBackground": "#{{base03-hex}}",
    "secondaryButtonText": "#{{base07-hex}}",
    "tooltipText": "#{{base07-hex}}",
    "buttonBorder": "#{{base03-hex}}",
    "highlightForeground": "#{{base07-hex}}"
  },
  "options": {
    "centerAlbumInfoText": false
  }
}
